body {
    background: #ddd;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.markdown {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    max-width: 60%;
}
.markdown h1 {
    width: 100%;
    text-align: center;
}
.markdown h2, .markdown h3 {
    color: #8dd35f;
    text-decoration: underline;
}
.markdown a, .markdown a:visited {
    color: #8dd35f;
    background: none;
    padding: 0;
    border-radius: 5px;
    text-decoration: none;
    transition: .3s ease;
}
.markdown a:hover {
    color: white;
    background: #8dd35f;
    text-decoration: none;
    padding: 5px 10px;
}
.markdown img {
    max-width: 100%;
    border-radius: 10px;
}
.link, .github {
    position: fixed;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    transition: .3s ease;
    border-radius: 5px;
    border: 3px solid #8dd35f;
}
.link {
    top: 10px;
    left: 10px;
}
.github {
    top: 10px;
    right: 10px;
}
.link:hover, .link:focus,
.github:hover, .github:focus {
    color: white;
    background-color: #8dd35f;
}

@media (max-width: 770px) {
    .container {
        margin: 0;
    }
    .markdown {
        max-width: 100%;
    }
    .markdown h1 {
        margin-top: 55px;
    }
}