h1 {
    color: var(--color-font) !important;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.headline {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10.5vw;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
    padding: 0 20px;
}
.cardContainer {
    margin: 50px 0;
}
.card {
    margin: 0 2% !important;
    background-color: var(--color-dark) !important;
    color: var(--color-font) !important;
}
.vaccinated {
    border-bottom: 10px solid var(--color-orange);
}
.second {
    border-bottom: 10px solid var(--color-green);
}
.chartContainer {
    width: 100%;
    margin: 20px 0;
}
.chartBigContainer {
    display: flex;
    justify-content: center;
    width: 85%;
    background-color: var(--color-dark);
    padding: 10px 20px;
    border-radius: 10px;
}
.error {
    margin-top: 20px !important;
    color: var(--color-font);
}
.link {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-weight: 600;
    color: var(--color-font);
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    transition: .3s ease;
    border-radius: 5px;
    border: 3px solid #8dd35f;
}
.link:hover, .link:focus {
    color: var(--color-dark);
    background-color: #8dd35f;
}
p {
    color: var(--color-light);
}

@media (max-width: 770px) {
    .container {
        margin: 0;
    }
    .chartBigContainer {
        width: 100%;
    }
    .headline {
        font-weight: 700;
        font-size: 7vw !important;
    }
    footer {
        align-items: flex-start;
    }
    .card {
        margin: 2% 0 !important;
    }
}