body {
    background: #dddddd;
    font-family: "Roboto", serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.headline {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10.5vw;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
    padding: 0 20px;
}
.link1 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    transition: .3s ease;
    border-radius: 5px;
    border: 3px solid #8dd35f;
}
.link1:hover, .link1:focus {
    color: white;
    background-color: #8dd35f;
}

.link2 {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    transition: .3s ease;
    border-radius: 5px;
    border: 3px solid #8dd35f;
}
.link2:hover, .link2:focus {
    color: white;
    background-color: #8dd35f;
}

@media (max-width: 770px) {
    .link1, .link2 {
        max-width: 40%;
    }
    .container {
        margin: 0;
    }
    .headline {
        font-weight: 700;
        font-size: 7vw !important;
    }
    footer {
        align-items: flex-start;
    }
}