:root {
    --color-green: #8cb369;
    --color-grey: #333533;
    --color-red: #bc4b51;
    --color-orange: #D2AC4B;
    --color-dark: #0d1b2a;
    --color-bg: #1b263b;
    --color-light: #415a77;
    --color-font: #e0e1dd;
}

::-webkit-scrollbar {
    background: var(--color-bg);
}
::-webkit-scrollbar-thumb {
    background: var(--color-dark);
    border-radius: 15px;
}

body {
    background: var(--color-bg);
    font-family: "Roboto", serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.headline {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10.5vw;
    color: var(--color-light);
}
.error {
    margin-top: 20px !important;
    color: var(--color-font);
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
    padding: 0 20px;
}
.link1 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-weight: 600;
    color: var(--color-font);
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    transition: .3s ease;
    border-radius: 5px;
    border: 3px solid #8dd35f;
}
.link1:hover, .link1:focus {
    color: var(--color-dark);
    background-color: #8dd35f;
}

.link2 {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-weight: 600;
    color: var(--color-font);
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    transition: .3s ease;
    border-radius: 5px;
    border: 3px solid #8dd35f;
}
.link2:hover, .link2:focus {
    color: var(--color-dark);
    background-color: #8dd35f;
}

@media (max-width: 770px) {
    .link1, .link2 {
        max-width: 40%;
    }
    .container {
        margin: 0;
    }
    .headline {
        font-weight: 700;
        font-size: 7vw !important;
    }
    footer {
        align-items: flex-start;
        margin-bottom: 60px !important;
    }
}