body {
    background: #ddd;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}
.headline {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10.5vw;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
}

@media (max-width: 770px) {
    .container {
        margin: 0;
    }
    .headline {
        font-weight: 700;
        font-size: 7vw !important;
    }
}