.container {
    display: flex;
    justify-content: center;
    width: 85%;
    margin-bottom: 30px;
}
.image {
    max-height: 100vh;
    max-width: 100%;
}

@media (max-width: 770px) {
    .container {
        width: 100%;
    }
}